.badge{
    position: absolute;
    top: -5px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e84545;
    display: flex;
    align-items: center;
    justify-content: center;

}

.badge span{
    color: white;
}