footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top : 2px solid #0F3057;
}

.footer-cat{
    margin-left: 50px;
}

footer li {
    padding: 5px 20px;
}