.manage-products{
    background: #d3d3d3;
    height: 400px;
    overflow-y: auto;
    scroll-behavior: auto;
    border: 1px solid #bc1c1c;
}

.manage-products-header{
    height: 60px;
    padding: 5px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manage-products-header span{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 20px;
}

.manage-products-header a{
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
    background: #333;
    color: white;
}

.manage-products-body{
    padding: 10px;
}

.manage-products-item{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    height: 40px;
    background: #eaafaf;
    margin-bottom: 5px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #333;
}