.make-order {
  width: 100%;
  display: flex;
  
}

.order-data{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  height: 250px;
}

.order-payment{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
}

.order-payment div{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.data-title{
  width: 50%;
}


.order-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.ship-loc-title{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}


#order-item,.order-item{
  height: 60px;
}

.order-item-img-container{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-items img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.order-items {
  margin-top: 30px;
  min-width: 70%;
  height: max-content;
  margin-left: auto;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
  background: white;
  padding: 20px;
  border-radius: 5px;
}
.order-items ul{
  margin-top: 25px;
}
.order-items ul li {
  margin-bottom: 20px;
  padding: 5px 10px;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 #61bec5;
  border-radius: 5px;
  border-top: 2px solid #008891;
  
  background: white;
}

.order-items h3 {
  margin: auto;
  width: fit-content;
}

.order-items select {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid #ddd;
  background: transparent;
}

.order-items select:focus{
  border: 1px solid #61bec5;
}

.shipping-select {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.total-price {
  width: fit-content;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping-select select {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-right: auto;
}

.shipping select, .payment select{
  background: white;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.shipping select:focus, .payment select:focus{
  border: 1px solid #61bec5;
  
}

.shipping,
.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}
.payment {
  margin-top: 20px;
}

.continue {
  width: 70%;
  padding: 15px;
  color: white;
  border-style: none;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.continue:hover {
  background: #008891;
}

.preview-order {
  display: flex;
  width: 100%;

}
.order-item-price{
  width: 20%;
  text-align: left;
}
.order-item-name{
  width: 15%;
  text-align: left;
  word-break: break-all;

}
.order-item-qty{
  width: 10%;
  text-align: left;
}
.place-order {
  width: 30%;
  padding: 10px;
  height: fit-content;
  border: 1px solid #0f3057;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 30px;
}

.place-order table {
  margin: auto;
}
.place-order button {
  width: 100%;
}
.place-order table td {
  font-size: 20px;
  font-weight: 600;
}

.first {
  padding: 20px 50px 20px 0px;
}

.preview-header {
  width: fit-content;
  margin: auto;
  margin-bottom: 25px;
}

/*my orders*/

.myorders {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  min-width: 770px;
}
.manage-orders table {
  width: 100%;
  padding: 10px;
}
.manage-orders  table  tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 3px 5px 0 rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  height: 60px;
  background: white;
  margin-top: 10px;
}

.manage-orders table tr td {
  margin: auto 10px;
  text-align: center
}

.view-order-details {
  font-size: 20px;
  color: #0f3057;
  line-height: 40px;
  display: block;
  text-align: center;
}



.manage-orders td {
  text-align: center;
}

.manage-orders .true {
  color: green;
  font-size: 25px;
}

.manage-orders .false {
  color: red;
  font-size: 25px;
}

.deliver-btn {
  background: transparent;
  border-style: none;
  font-size: 25px;
  font-weight: 700;
}

.order-fail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
