
.product-card{
    width:280px;
    height: 400px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-card .image-link{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card img{
    max-width: 100%;
    max-height: 100%;
}

.add-to-cart{
  width: 70%;
  padding: 5px;
  height: 40px;
  margin: 10px auto;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
  border-style: none;
  background: white;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #ddd;
  
  
}

.add-to-cart:hover{
  border: 1px solid #008891;
}



.add-wishlist{
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 25px;
  background: transparent;
  border: none;
  color: #e84545;
  font-weight: bold;
  background: white;
  border-bottom-right-radius:10px ;
  padding: 5px 10px 10px 5px ;
  transition: all .5s ease;
}

.show-wishlist{
  display: block;
}


.product-card button img {
  width: 40px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 0;
}

.product-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-name{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.price-review{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding: 5px;
}

.product-price{
  font-size: 25px;
  font-weight: bold;
  width: 30%;
  margin-bottom: 10px;
  
}
.review{
  width: 60%;
  margin-left: 50px;
  margin-bottom: 15px;
}


.product-sale{
  width: 180px;
  font-size: 18px;
  font-weight: 500;
  background: #e84545;
  color: white;
  padding: 5px 10px;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: -50px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, .02);

}

.old{
  position: absolute;
  bottom: 50px;
  left: 20px;
  text-decoration: line-through 2px #a20a0a;
  font-size: 20px;
  font-weight: 600;
  opacity: .6;
}
