.search {
  width: 70%;
  margin: 20px auto;
}
.search-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
}

.search-input {
  width: 90%;
  height: 40px;
  border-style: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
  
}
.search-input:focus {
  outline: none;
}

.search-btn {
  height: 40px;
  width: 10%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  color: #0f3057;
  border-style: none;
  padding: 10px;
  font-size: 15px;
}

.btl {
}

.search-result {
  width: 100%;
  position: absolute;
  top: 32px;
  background: white;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px;
  z-index: 500;
}

.search-result div {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #0f3057;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
}

.search-result div:hover{
  background: #e7e7e7;
}

.hide-search {
  display: none;
}
