.sidebar{
    padding: 5px;
}

.cat-filter{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.range-filter{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider{
    width: 75%;
    margin-right: 10px;
    outline: none;
    
}