@import './stylesheets/manage.css';
@import './stylesheets/footer.css';
@import "./stylesheets/registration.css";
@import "./stylesheets/sidebarFilter.css";
@import "./stylesheets/productDetails.css";
@import "./stylesheets/productCard.css";
@import "./stylesheets/addProduct.css";
@import "./stylesheets/sideNave.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ul{
    list-style: none;
}

a,li,button{
    outline: none;
}

.container{
    width: 90%;
    margin: auto;
}
button{
    cursor: pointer;
}



/*Nav - Bar */

.navigation{
    height: 60px;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: relative;
    border-radius: 15px;
}

.logo{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.name{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}


.logo img{
    width: 60px;
    height: 90%;
}

.main-menu{
    margin-right: auto;
    margin-left: 75px;
}
.main-menu ul{
    display: flex;
    
}
.main-menu ul li{
    padding: 20px;
    
}
.main-menu ul li a{
    color: white;
}

.nav-user{
    width: 100px;
    background: #d3d3d3;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.nav-user:hover{
    background: #f4f4f4;
}

.nav-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-user-details{
    border: none;
    background: #f3f3f3;
    margin-right: 10px;
    background: transparent;
    padding: 10px 20px;
}

.nav-user-menu{
    display: none;
    text-align: center;
    width: 150px;
    height: auto;
    background: #d3d3d3;
    position: absolute;
    padding: 10px;
    top: 60px;
    right: 0px;
    border-radius:15px;
}
.show{
    display: block;
}

.nav-user-menu ul li{
    padding: 10px;
}
.nav-user-menu ul li:hover{
    background: #f3f3f3;
}

/*
.nav-user-menu::before{
    content: "";
    padding: 10px 20px;
    background: #333;
    transform: rotate();
}
*/
.cat{
    position: relative;
}

.cat:hover .items-container{
    display: block;
}
.items-container{
    display: none;
}
 .cat-items{
     width: 200px;
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 60px;
     background: #333;
 }

/* main section**/

.mid-container{
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.main{
    min-width: 93%;
    min-height: 100vh;
    background:#333 ;
    padding: 10px 10px;
}

.main-rs{
    min-width: 70%;
    min-height: 100vh;
    background:#333 ;
    padding: 10px 10px;
}

.sidebar{
    min-width: 7%;
    min-height: 100vh;
    background: #f3f3f3;
}
.full-sidebar{
    min-width: 30%;
    min-height: 100vh;
    background: #f3f3f3;
}

.hot-offer{
    width: 80%;
    margin: auto;
    height: 350px;
    background: #f4f4f4;
    
}

.search{
   width: 70%;
   margin: 20px auto;
}
.search-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 80%;
    height: 40px;
    border-style:none ;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}
.search-btn{
    padding: 5px;
}



/* main products page */ 

.show-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 20px;
}







